@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        color: #fff;
        scroll-behavior: smooth;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    li {
        list-style: none;
    }
    .scroll_bar-hidden::-webkit-scrollbar {
        display: none   ;
    }
}